.nav-links {
  color:rgb(158, 123, 48);
  font-size: 1.3rem;
  margin-left: 10px;
  margin-right: 10px; 
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

.nav-links:hover {
  color:rgb(12, 56, 25)
}

#header-nav a.active {
  color:rgb(80, 104, 54);
}